<div class="m-5 col-xl-12 col-md-12 col-sm-12 border-dark">
  <mat-card>
    <mat-card-title>
      <div class="text-center">
        <div class="container-fluid col-md-8">
          <a class="navbar-brand h1" style="color: #26221c" href="#"
            ><b>Gerador de solicitação para atividade</b></a
          >
        </div>
      </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content class="mt-5">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <mat-select name="session" [(value)]="selectedSession">
              <mat-option></mat-option>
              <mat-option *ngFor="let session of sessions" [value]="session">{{
                session
              }}</mat-option>
            </mat-select>
            <mat-label>Sessão</mat-label>
          </mat-form-field>
        </div>
        <div class="col-md-7">
          <mat-form-field appearance="fill">
            <mat-label>Chefe responsável</mat-label>
            <input matInput [value]="responsible" />
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4"></div>
    </mat-card-content>
  </mat-card>
</div>
